@page "/unlock-settings"

@{
    var passwordCardClass = "pa-4 unlock-card" + (AppSettings.ScreenUnlockMethod == ScreenUnlockMethods.Password ? " selected" : "");
    var hotkeyCardClass = "pa-4 mb-4 unlock-card" + (AppSettings.ScreenUnlockMethod == ScreenUnlockMethods.Hotkey ? " selected" : "");
    bool isPasswordSelected = AppSettings.ScreenUnlockMethod == ScreenUnlockMethods.Password;
    bool isHotkeySelected = AppSettings.ScreenUnlockMethod == ScreenUnlockMethods.Hotkey;
}

<MudText Typo="Typo.h6" Class="mb-4">@(Lang["UnlockOptions"])</MudText>

<div class="unlock-card-wrapper@(isHotkeySelected ? " selected" : "")" @onclick="@(() => SelectUnlockMethod(ScreenUnlockMethods.Hotkey))" style="position:relative;">
    <MudPaper Class="@hotkeyCardClass" Elevation="5">
        <div class="card-header">
            <span class="card-title">@($"{Lang["HotkeyUnlock"]} ⚡")</span>
            <MudIcon Icon="@(isHotkeySelected? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.RadioButtonUnchecked)"
                     Color="@(isHotkeySelected ? Color.Secondary : Color.Default)" />
        </div>
        <div class="card-content">
            <MudCheckBox @bind-Value="@(AppSettings.IsUnlockUseLockHotkey)"
                         @bind-Value:after="SaveSettings"
                         Label="@(Lang["UseLockHotkey"])"
                         Color="Color.Primary"
                         Dense="true"
                         Class="no-left-padding max-width-fix"
                         Disabled="@(!isHotkeySelected)" />

            <MudText Typo="Typo.subtitle2" Class="input-title" Style="@( !AppSettings.IsUnlockUseLockHotkey && isHotkeySelected ? "" : "opacity:0.5;")">@(Lang["UnlockHotkey"])</MudText>
            <HotkeyInput Title=""
                         Hotkey="@(AppSettings.UnlockHotkeyString)"
                         Disabled="@(AppSettings.IsUnlockUseLockHotkey || !isHotkeySelected)"
                         OnHotkeySet="SetUnlockHotkey"
                         OnHotkeyClear="ClearUnlockHotkey" />
            @if (!isHotkeySelected)
            {
                <div class="card-mask"></div>
            }
        </div>
    </MudPaper>
</div>

<div class="unlock-card-wrapper@(isPasswordSelected ? " selected" : "")" @onclick="@(() => SelectUnlockMethod(ScreenUnlockMethods.Password))" style="position:relative;">
    <MudPaper Class="@passwordCardClass" Elevation="5">
        <div class="card-header">
            <span class="card-title">@($"{Lang["PasswordUnlock"]} 🧩")</span>
            <MudIcon Icon="@(isPasswordSelected? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.RadioButtonUnchecked)"
                     Color="@(isPasswordSelected ? Color.Secondary : Color.Default)" />
        </div>
        <div class="card-content">
            <MudButton Color="Color.Secondary"
                       Variant="Variant.Outlined"
                       Class="mb-2"
                       StartIcon="@Icons.Material.Filled.Password"
                       OnClick="PasswordEdit"
                       Size="Size.Small"
                       Disabled="@(!isPasswordSelected)">
                @(Lang["SetPassword"])
            </MudButton>
            <MudCheckBox @bind-Value="@(AppSettings.EnablePasswordBox)"
                         @bind-Value:after="SaveSettings"
                         Label="@(Lang["EnablePasswordBox"])"
                         Color="Color.Primary"
                         Dense="true"
                         Class="no-left-padding max-width-fix"
                         Disabled="@(!isPasswordSelected)" />
            <MudText Typo="Typo.body2" Color="Color.Secondary" Class="input-tip ml-7" Style="opacity: 1">
                @if (AppSettings.EnablePasswordBox)
                {
                    @(Lang["DisablePasswordBoxTips"])
                }
                else
                {
                    @(Lang["EnablePasswordBoxTips"])
                }
            </MudText>

            <MudStack Class="ml-4 mt-4" Spacing="4">
                <div>
                    <MudText Typo="Typo.subtitle2" Class="input-title">@(Lang["PwdLocation"])</MudText>
                    <MudSelect T="ScreenLocationEnum"
                               Label=""
                               Variant="Variant.Outlined"
                               Value="@(AppSettings.PasswordInputLocation)"
                               Disabled="@(!AppSettings.EnablePasswordBox || !isPasswordSelected)"
                               ValueChanged="PwdBoxLocationChanged"
                               Margin="Margin.Dense"
                               FullWidth="false"
                               class="max-width-fix"
                               Dense="true">
                        <MudSelectItem Value="@(ScreenLocationEnum.Center)">@(Lang["Center"])</MudSelectItem>
                        <MudSelectItem Value="@(ScreenLocationEnum.TopLeft)">@(Lang["TopLeft"])</MudSelectItem>
                        <MudSelectItem Value="@(ScreenLocationEnum.TopRight)">@(Lang["TopRight"])</MudSelectItem>
                        <MudSelectItem Value="@(ScreenLocationEnum.BottomLeft)">@(Lang["BottomLeft"])</MudSelectItem>
                        <MudSelectItem Value="@(ScreenLocationEnum.BottomRight)">@(Lang["BottomRight"])</MudSelectItem>
                    </MudSelect>
                </div>
                <MudCheckBox @bind-Value="@(_keyboardDownChecked)"
                             @bind-Value:after="KeyboardDownChecked"
                             Disabled="@(!AppSettings.EnablePasswordBox || !isPasswordSelected)"
                             Label="@(Lang["KeyboardDownActivePwd"])"
                             Color="Color.Primary"
                             Class="no-left-padding max-width-fix"
                             Dense="true" />
                <MudCheckBox @bind-Value="@(_mouseDownChecked)"
                             @bind-Value:after="MouseDownChecked"
                             Disabled="@(!AppSettings.EnablePasswordBox || !isPasswordSelected)"
                             Label="@(Lang["MouseDownActivePwd"])"
                             Color="Color.Primary"
                             Class="no-left-padding max-width-fix"
                             Dense="true" />
                <MudCheckBox @bind-Value="@(AppSettings.IsHidePasswordWindow)"
                             @bind-Value:after="SaveSettings"
                             Disabled="@(!AppSettings.EnablePasswordBox || !isPasswordSelected)"
                             Label="@(Lang["HidePasswordWindow"])"
                             Color="Color.Primary"
                             Class="no-left-padding max-width-fix"
                             Dense="true" />

            </MudStack>
            @if (!isPasswordSelected)
            {
                <div class="card-mask"></div>
            }
        </div>
    </MudPaper>
</div>
