@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_customTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
    .dialog-blurry {
        backdrop-filter: blur(10px);
    }
</style>

<MudLayout>
    <MudAppBar Class="px-2"
               Elevation="25"
               Gutters="false"
               @onmouseup="MouseUp"
               @onmousedown="MouseDown">

        <div class="d-flex align-end">
            <MudImage Src="images/icon.png"
                      Class="rounded-circle"
                      Style="height:24px; width:24px;"></MudImage>
            <MudText Typo="Typo.body2" Color="Color.Secondary" Class="ml-1">@(Lang["Title"])</MudText>
        </div>

        <MudSpacer />

        <div class="d-flex align-end"
             @onmouseup:stopPropagation="true"
             @onmousedown:stopPropagation="true">
            <MudButton StartIcon="@Icons.Material.Filled.Coffee"
                       Color="Color.Secondary"
                       Variant="Variant.Text"
                       Size="Size.Small"
                       Class="mr-2"
                       OnClick="OpenDonationDialog">
                支持作者
            </MudButton>

            <TitleBar />
        </div>
    </MudAppBar>

    <MudDrawer Elevation="2" Open="true" ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Persistent">
        <MudNavMenu>
            <MudNavLink Href="/lock-settings" Icon="@Icons.Material.Filled.Lock">锁屏设置</MudNavLink>
            <MudNavLink Href="/unlock-settings" Icon="@Icons.Material.Filled.VpnKey">解锁方式</MudNavLink>
            <MudNavLink Href="/general-settings" Icon="@Icons.Material.Filled.Settings">通用设置</MudNavLink>
            <MudNavLink Href="/about" Icon="@Icons.Material.Filled.Info">关于</MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <MudPaper Class="py-4 px-3" Style="height: calc(100vh - 32px);">
            @Body
        </MudPaper>
    </MudMainContent>
</MudLayout>