@page "/about"

<MudText Typo="Typo.h6" Class="mb-3">关于</MudText>

<div class="d-flex flex-column align-center mb-4">
    <MudAvatar Size="Size.Large" Class="mb-2">
        <MudImage Src="images/icon.png" Alt="Program Icon" Width="64" Height="64" Class="rounded-circle" />
    </MudAvatar>

    <MudText Typo="Typo.h6" Class="mb-2" Color="Color.Primary">@Lang["Title"]</MudText>

    <MudStack Spacing="3" Row="true" Justify="Justify.Center">
        <MudButton Href="@Resource.HomePage"
                   Target="_blank"
                   Variant="Variant.Text"
                   StartIcon="@Icons.Material.Filled.Home"
                   Style="text-transform:none">
            @Lang["HomePage"]
        </MudButton>

        <MudButton Href="@Resource.GitHubUrl"
                   Target="_blank"
                   Variant="Variant.Text"
                   StartIcon="@Icons.Custom.Brands.GitHub"
                   Style="text-transform:none">
            GitHub
        </MudButton>
    </MudStack>

    <MudDivider Class="my-5" />

    <MudText Typo="Typo.body2" Class="mb-2">@($"{Lang["Version"]} {_version}")</MudText>

    <MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center" Class="mb-1">
        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Primary" OnClick="CheckUpdateAsync">
            @Lang["CheckUpdate"]
        </MudButton>
        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Primary" OnClick="OpenVersionHistory">
            @Lang["VersionHistory"]
        </MudButton>
    </MudStack>
    <MudCheckBox @bind-Value="AppSettings.IsAutoCheckUpdate"
                 @bind-Value:after="SaveSettings"
                 Label="@Lang["AutoCheckUpdate"]"
                 Color="Color.Primary"
                 Size="Size.Small" />
</div>


