<MudDrawer @bind-Open="@_isOpen"
		   Class="pa-6"
		   Anchor="Anchor.End"
		   Elevation="1"
		   Width="350px"
		   Variant="@DrawerVariant.Temporary">
	<MudDrawerContainer>

		<MudSwitch Value="@(_isAutostart)"
				   T="bool"
				   ValueChanged="AutostartChange"
				   Label="@(Lang["Autostart"])"
				   Color="Color.Primary" />

		<MudSwitch @bind-Value="@(AppSettings.IsHideWindowWhenLaunch)"
				   @bind-Value:after="SaveSettings"
				   Label="@(Lang["HideWindowWhenLaunch"])"
				   Color="Color.Primary" />
		<MudSwitch @bind-Value="@(AppSettings.IsHideWindowWhenClose)"
				   @bind-Value:after="SaveSettings"
				   Label="@(Lang["HideWindowWhenClose"])"
				   Color="Color.Primary" />
		<MudSwitch @bind-Value="@(AppSettings.IsAutoCheckUpdate)"
				   @bind-Value:after="SaveSettings"
				   Label="@(Lang["AutoCheckUpdate"])"
				   Color="Color.Primary" />

		<MudSelect Class="mt-3"
				   T="string"
				   Label="语言 Lang"
				   Value="@(AppSettings.Lang.ToString())"
				   ValueChanged="LangValueChanged">
			<MudSelectItem Value="@("zh")">中文</MudSelectItem>
			<MudSelectItem Value="@("en")">en</MudSelectItem>
		</MudSelect>


		<div class="mt-4 d-flex align-center">
			<MudText Typo="Typo.subtitle2">@(Lang["LogFiles"])</MudText>
			@if (_logLoadingOk)
			{
				<MudChip T="string"
						 Label="true"
						 Disabled="true"
						 Variant="Variant.Text"
						 Size="Size.Small">
					@($"{_logFilesSize / 1024 / 1024:N2} MB")
				</MudChip>
			}
		</div>
		<div class="d-flex align-center">
			@if (!_logLoadingOk)
			{
				<MudProgressCircular Color="Color.Primary"
									 Class="ml-2"
									 Size="Size.Small"
									 Indeterminate="true" />
			}
			else
			{
				<MudButton Variant="Variant.Text"
						   Color="Color.Primary"
						   Size="Size.Small"
						   OnClick="OpenLogPath">@(Lang["OpenLogs"])</MudButton>
				<MudButton Variant="Variant.Text"
						   Color="Color.Primary"
						   Size="Size.Small"
						   OnClick="ClearLogAsync">@(Lang["RemoveLogs"])</MudButton>
			}
		</div>
		<MudDivider />

		<div class="mt-4 d-flex align-center">
			<MudText Typo="Typo.subtitle2">@(Lang["Version"])</MudText>
			<MudChip T="string"
					 Label="true"
					 Disabled="true"
					 Variant="Variant.Text"
					 Size="Size.Small">
				@(_version)
			</MudChip>
		</div>
		<MudButton Variant="Variant.Text"
				   Color="Color.Primary"
				   Size="Size.Small"
				   OnClick="CheckUpdateAsync">@(Lang["CheckUpdate"])</MudButton>

		<MudDivider />

		<div class="mt-4 d-flex align-center">
			<MudText Typo="Typo.subtitle2">@(Lang["Advanced"])</MudText>
		</div>
		<MudButton Class="mt-2"
				   Variant="Variant.Text"
				   Color="Color.Primary"
				   Size="Size.Small"
				   OnClick="ResetSettingsAsync">@(Lang["ResetSettings"])</MudButton>
	</MudDrawerContainer>
</MudDrawer>