@page "/"
@using ComputerLock.Enums

<style>
    .dialog-blurry {
        backdrop-filter: blur(10px);
    }
</style>
<div class="d-flex">
    <MudSwitch @bind-Value="@(AppSettings.LockOnStartup)"
               @bind-Value:after="SaveSettings"
               Label="@(Lang["LockOnStartup"])"
               Color="Color.Primary" />
</div>
<div class="d-flex">
    <MudTooltip Text="@(Lang["DisableWindowsRemark"])" Placement="Placement.Bottom">
        <MudSwitch @bind-Value="@(AppSettings.IsDisableWindowsLock)"
                   @bind-Value:after="SaveSettings"
                   Label="@(Lang["DisableWindowsLock"])"
                   Color="Color.Primary" />
    </MudTooltip>
</div>
<div class="d-flex">
    <MudSwitch @bind-Value="@(AppSettings.IsHideMouseCursor)"
               @bind-Value:after="SaveSettings"
               Label="@(Lang["HideMouseCursor"])"
               Color="Color.Primary" />
</div>
<div class="d-flex">
    <MudSwitch @bind-Value="@(AppSettings.LockAnimation)"
               @bind-Value:after="SaveSettings"
               Label="@(Lang["LockAnimation"])"
               Color="Color.Primary" />
</div>
<MudNumericField T="int"
                 Label="@(Lang["AutoLock"])"
                 Value="@(AppSettings.AutoLockMinute)"
                 Margin="Margin.Dense"
                 Min="0"
                 Variant="Variant.Outlined"
                 ValueChanged="AutoLockChanged">
</MudNumericField>

<HotkeyInput Title="@(Lang["LockHotkey"])"
             Hotkey="@(AppSettings.LockHotkeyString)"
             OnHotkeySet="SetLockHotkey"
             OnHotkeyClear="ClearLockHotkey" />

<MudToggleGroup @bind-Value="@(AppSettings.ScreenUnlockMethod)"
                @bind-Value:after="SaveSettings"
                T="ScreenUnlockMethods"
                SelectionMode="SelectionMode.SingleSelection"
                Class="mt-2"
                Color="Color.Primary"
                Size="Size.Small"
                CheckMark
                FixedContent>
    <MudToggleItem Value="@(ScreenUnlockMethods.Password)" Text="@(Lang["PasswordUnlock"])" />
    <MudToggleItem Value="@(ScreenUnlockMethods.Hotkey)" Text="@(Lang["HotkeyUnlock"])" />
</MudToggleGroup>

<MudPaper Elevation="0" Height="210px">

    @if (AppSettings.ScreenUnlockMethod == ScreenUnlockMethods.Password)
    {
        <MudButton Color="Color.Primary"
                   IconSize="Size.Small"
                   OnClick="ResetPassword">
            @(Lang["ResetPassword"])
        </MudButton>

        <div class="d-flex align-center">
            <MudSwitch @bind-Value="@(AppSettings.EnablePasswordBox)"
                       @bind-Value:after="SaveSettings"
                       Label="@(Lang["EnablePasswordBox"])"
                       Color="Color.Primary" />
            @if (!AppSettings.EnablePasswordBox)
            {
                <MudChip T="string"
                         Label="true"
                         Icon="@Icons.Material.Filled.WarningAmber"
                         IconColor="Color.Primary"
                         DisableRipple="true"
                         Size="Size.Small">
                    @(Lang["EnablePasswordBoxTips"])
                </MudChip>
            }
        </div>
        <div class="d-flex">
            <MudSwitch @bind-Value="@(AppSettings.IsHidePasswordWindow)"
                       @bind-Value:after="SaveSettings"
                       Class="ml-6"
                       Disabled="@(!AppSettings.EnablePasswordBox)"
                       Label="@(Lang["HidePasswordWindow"])"
                       Color="Color.Primary" />
        </div>
        <div class="d-flex">
            <MudSwitch @bind-Value="@(_keyboardDownChecked)"
                       @bind-Value:after="KeyboardDownChecked"
                       Class="ml-6"
                       Disabled="@(!AppSettings.EnablePasswordBox)"
                       Label="@(Lang["KeyboardDownActivePwd"])"
                       Color="Color.Primary" />
        </div>
        <div class="d-flex">
            <MudSwitch @bind-Value="@(_mouseDownChecked)"
                       @bind-Value:after="MouseDownChecked"
                       Class="ml-6"
                       Disabled="@(!AppSettings.EnablePasswordBox)"
                       Label="@(Lang["MouseDownActivePwd"])"
                       Color="Color.Primary" />
        </div>
        <MudSelect T="ScreenLocationEnum"
                   Label="@(Lang["PwdLocation"])"
                   Variant="Variant.Outlined"
                   Value="@(AppSettings.PasswordInputLocation)"
                   Disabled="@(!AppSettings.EnablePasswordBox)"
                   Class="ml-6"
                   ValueChanged="PwdBoxLocationChanged"
                   Margin="Margin.Dense"
                   Dense="true">
            <MudSelectItem Value="@(ScreenLocationEnum.Center)">@(Lang["Center"])</MudSelectItem>
            <MudSelectItem Value="@(ScreenLocationEnum.TopLeft)">@(Lang["TopLeft"])</MudSelectItem>
            <MudSelectItem Value="@(ScreenLocationEnum.TopRight)">@(Lang["TopRight"])</MudSelectItem>
            <MudSelectItem Value="@(ScreenLocationEnum.BottomLeft)">@(Lang["BottomLeft"])</MudSelectItem>
            <MudSelectItem Value="@(ScreenLocationEnum.BottomRight)">@(Lang["BottomRight"])</MudSelectItem>
        </MudSelect>
    }
    else if (AppSettings.ScreenUnlockMethod == ScreenUnlockMethods.Hotkey)
    {
        <MudPaper Class="mt-1 d-flex align-center" Elevation="0">
            <HotkeyInput Title="@(Lang["UnlockHotkey"])"
                         Hotkey="@(AppSettings.UnlockHotkeyString)"
                         Disabled="@AppSettings.IsUnlockUseLockHotkey"
                         OnHotkeySet="SetUnlockHotkey"
                         OnHotkeyClear="ClearUnlockHotkey" />

            <MudCheckBox @bind-Value="@(AppSettings.IsUnlockUseLockHotkey)"
                         @bind-Value:after="SaveSettings"
                         class="ml-3"
                         Label="@(Lang["UseLockHotkey"])"
                         Size="Size.Small"
                         Dense="true"
                         Color="Color.Primary"></MudCheckBox>
        </MudPaper>
    }
</MudPaper>
